.is-display-none {
    display: none;
}

.is-overflow-hidden {
    overflow: hidden;
}

.is-align-center {
    text-align: center;
}

.is-uppercase {
    text-transform: uppercase;
}

.no-tap-highlight-color {
    -webkit-tap-highlight-color: transparent;
}

.no-user-select {
    user-select: none;
}